<script type="text/ng-template" id="userform-messages">
  <div ng-message="minlength">Input is too short.</div>
  <div ng-message="maxlength">Input is too long.</div>
  <div ng-message="blurred">Blurred!</div>
</script>

<div class="col-sm-6 row marketing">
  <form name="userForm" ng-submit="submit(user)" novalidate><fieldset>
    <legend>Login / Sign Up</legend>

    <!-- USERNAME -->
    <div class="form-group" ng-class="{'has-error': userForm.name.$invalid && !userForm.name.$pristine}">
      <label for="name">Username</label>
      <input type="text" name="name" class="form-control" placeholder="Enter a name" required
        ng-model="user.name" minlength="3" maxlength="8" ng-blur="blur.add('name')" jd-focus>
      <div class="help-block" ng-if="blur.map.name" ng-messages="userForm.name.$error"
          ng-messages-include="userform-messages" ng-messages-multiple></div>
    </div>

    <!-- PASSWORD -->
    <div class="form-group" ng-class="{'has-error': userForm.pass.$invalid && !userForm.pass.$pristine}">
      <label for="pass">Password</label>
      <input type="password" name="pass" class="form-control" placeholder="Enter a password" required
        ng-model="user.pass" ng-minlength="3" ng-maxlength="8"
        ng-blur="blur.add('pass')">
      <div class="help-block" ng-if="blur.map.pass" ng-messages="userForm.pass.$error"
          ng-messages-include="userform-messages"></div>
    </div>

    <!-- EMAIL -->
    <div class="form-group" ng-class="{'has-error': userForm.email.$invalid && !userForm.email.$pristine}"
        ng-if="isSignupForm">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" placeholder="Enter an email" ng-required="isSignupForm"
        ng-model="user.email" ng-blur="blur.add('email')">
      <div class="help-block" ng-if="blur.map.email" ng-messages="userForm.email.$error">
        <div ng-message="email">Enter a valid email.</div>
      </div>
    </div>

    <!-- REMEMBER -->
    <div class="form-group">
      <label for="remember">Remember Me: </label>
      <input type="checkbox" name="remember" ng-model="user.remember">
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
    <button type="button" class="btn" ng-click="reset()">Reset</button>
  </fieldset>
  </form>
</div>
