<script type="text/ng-template" id="userform-messages">
  <div ng-message="minlength">Input is too short.</div>
  <div ng-message="maxlength">Input is too long.</div>
</script>

<div class="col-sm-6" style="padding:2em 0">
  <form name="userForm" ng-submit="submit(user)" novalidate><fieldset>
    <legend>My Form</legend>

    <!-- USERNAME -->
    <div class="form-group" ng-class="{'has-error': userForm.username.$invalid && !userForm.username.$pristine}">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" placeholder="Enter a username" required
        ng-model="user.username" minlength="3" maxlength="8" jd-focus ng-blur="addBlur('username')">

      <div class="help-block" ng-if="blurHash.username" ng-messages="userForm.username.$error"
          ng-messages-include="userform-messages" ng-messages-multiple></div>
    </div>

    <!-- PASSWORD -->
    <div class="form-group" ng-class="{'has-error': userForm.password.$invalid && !userForm.password.$pristine}">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Enter a password" required
        ng-model="user.password" ng-minlength="3" ng-maxlength="8"
        ng-blur="addBlur('password')">
      <div class="help-block" ng-if="blurHash.password" ng-messages="userForm.password.$error"
          ng-messages-include="userform-messages"></div>
    </div>

    <!-- EMAIL -->
    <div class="form-group" ng-class="{'has-error': userForm.email.$invalid && !userForm.email.$pristine}"
        ng-if="isSignupForm">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" placeholder="Enter an email" ng-required="isSignupForm"
        ng-model="user.email" ng-blur="addBlur('email')">
      <div class="help-block" ng-if="blurHash.email" ng-messages="userForm.email">
        <div ng-message="$invalid">Enter a valid email.</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
  </fieldset>
  </form>
</div>

<br><br>
<p style="clear:both">
  {{blurHash}}
</p>
