
<div class="row marketing">
  <h3>OWNERS</h3>
  <a class="owners" ng-repeat="owner in owners | limitTo: 5" ng-href="#/owners/{{::owner.id}}">
    <h4>{{::owner.rptOwnerName}}</h4>
    <p>{{::owner.rptOwnerCity}}, {{::owner.rptOwnerState}}</p>
    <br>
  </a>
  <hr>
  <h3>CHOOSE OWNER</h3>
  <div>
    <input type="text" ng-model="search.number">
    <button class="btn btn-default" ng-click="searchOwners(search.number)">Search</button>
    <!-- id used for testing purposes-->
    <div id="color-change" style="border-radius: 1em;padding:.5em;" ng-show="oneOwner.data.id"
        ng-class="{myred: (oneOwner.data.id % 2), mygreen: (oneOwner.data.id && !(oneOwner.data.id % 2))}">
      <a class="owners" ng-href="#/owners/{{oneOwner.data.id}}">
        <!-- id used for testing purposes-->
        <h4 id="owner-name">{{oneOwner.data.rptOwnerName}}</h4>
        <p>{{oneOwner.data.rptOwnerCity}}, {{oneOwner.data.rptOwnerState}}</p>
      </a>
    </div>
  </div>
</div>
