
<div class="row marketing">
  <h3>OWNER</h3>
  <div id="chosen-owner" ng-show="oneOwner.data.id"
      ng-class="{myred: (oneOwner.data.id % 2), mygreen: (oneOwner.data.id && !(oneOwner.data.id % 2))}">
    <h4>{{::oneOwner.data.rptOwnerName}}</h4>
    <p>
      {{::oneOwner.data.rptOwnerStreet1}}
      <br ng-if="oneOwner.data.rptOwnerStreet2 != ''">{{::oneOwner.data.rptOwnerStreet2}}<br>
      {{::oneOwner.data.rptOwnerCity}}, {{::oneOwner.data.rptOwnerState}}
      {{::oneOwner.data.rptOwnerZipCode}}
    </p>
    <p>
      ID: {{::oneOwner.data.id}}<br>
      CIK: {{::oneOwner.data.rptOwnerCik}} <br>
      last update: {{::oneOwner.data.lastupdate}}
    </p>
  </div>
</div>
